<link rel="icon" type="image/x-icon" href="/favicons/favicon.ico">
<link rel="apple-touch-icon-precomposed" href="/favicons/coffee-cup-silhouette-optimized-152-238538.png">
<link rel="apple-touch-icon-precomposed" sizes="152x152" href="/favicons/coffee-cup-silhouette-optimized-152-238538.png">
<link rel="apple-touch-icon-precomposed" sizes="144x144" href="/favicons/coffee-cup-silhouette-optimized-144-238538.png">
<link rel="apple-touch-icon-precomposed" sizes="120x120" href="/favicons/coffee-cup-silhouette-optimized-120-238538.png">
<link rel="apple-touch-icon-precomposed" sizes="114x114" href="/favicons/coffee-cup-silhouette-optimized-114-238538.png">
<link rel="apple-touch-icon-precomposed" sizes="72x72" href="/favicons/coffee-cup-silhouette-optimized-72-238538.png">
<link rel="apple-touch-icon-precomposed" href="/favicons/coffee-cup-silhouette-optimized-57-238538.png">
<link rel="icon" href="/favicons/coffee-cup-silhouette-optimized-32-238538.png" sizes="32x32">
<meta name="msapplication-TileColor" content="#ffffff" />
<meta name="msapplication-TileImage" content="/favicons/coffee-cup-silhouette-optimized-144-238538.png">