<footer class="footer">
  <div class="wrapper">
    <div class="footer__copyright">
      &copy; {{ site.time | date: '%Y' }} - Justin Nel
    </div>
    <div class="footer__links">
      <ul>
        <li>
          <a href="//twitter.com/cyberlane" target="_blank">
            <img src="{{ site.baseurl }}/img/icons/twitter.svg" alt="Justin Nel on Twitter">
          </a>
        </li>
        <li>
          <a href="//github.com/cyberlane" target="_blank">
            <img src="{{ site.baseurl }}/img/icons/github.svg" alt="Justin Nel on GitHub">
          </a>
        </li>
        <li>
          <a href="//youtube.com/justinnel" target="_blank">
            <img src="{{ site.baseurl }}/img/icons/youtube.svg" alt="Justin Nel on YouTube">
          </a>
        </li>
        <li>
          <a href="//facebook.com/mycyberlane" target="_blank">
            <img src="{{ site.baseurl }}/img/icons/fb.svg" alt="Justin Nel on Facebook">
          </a>
        </li>
        <li>
          <a href="/feed.xml" target="_blank">
            <img src="{{ site.baseurl }}/img/icons/rss.svg" alt="RSS feed for Justin Nel">
          </a>
        </li>
      </ul>
    </div>
  </div>
</footer>
<script src="/js/bundle.min.js?{{site.time | date: '%s%N'}}"></script>