// -----------------------------------------------------------------------------
// This file contains all styles related to the button component.
// -----------------------------------------------------------------------------
.button {
  display: inline-block;
  font-size: 14px;
  text-transform: uppercase;
  color: #b1b1b1;
  border: 1px solid rgba(0, 0, 0, 0.15);
  padding: 13px 23px 13px 26px;
  border-radius: 26px;
  &:hover {
    border-color: rgba(0, 0, 0, 0.25);
    color: #777;
  }
  img {
    width: 18px;
  }
}